body
{
	display: flex;
	flex-direction: columm;
	align-items: center;
}

.Row1
{
	display: flex;
	flex-direction:column;
	flex-wrap: wrap;
	justify-content:center;
}

.Row2
{
	display: flex;
	flex-direction:column;
	flex-wrap: wrap;
	justify-content:center;
}

