body
{
	background-color: #D3D3D3;
	
}

@font-face 
{
	font-family: 'Karla-Regular';
    src: url('Karla-Regular.eot');
    src: url('Karla-Regular.eot?iefix') format('eot'),
         url('Karla-Regular.woff') format('woff'),
         url('Karla-Regular.ttf') format('truetype'),
         url('Karla-Regular.svg#Karla-Regular') format('svg');
}

h3
{
	font-size: 16px;
	line-height: 0.25em;
	font-style: normal;
}

table
{
	border-collapse:collapse;
	font-size: 16px;
	font-family: 'Karla-Regular', Arial, serif;
	margin-top: 25vh;
	display: flex;
	margin-left: 60vh;
}

td
{
	padding-left: 30px;
	color: #C0C0C0;
}

#main
{
	background-color: #FFFFFF;
	width:700px;
	height:150px;
}

#Sub
{
	background-color:#00ACC1;
	color:#EBECF0;
	width:350px;
	height:250px;
}

#Why
{
	background-color:#4DD0E1;
	color:#EBECF0;
	width:350px;
	height:250px;
}

strong
{
	color:#4DD0E1;
	font-size: 20px;
}



em
{
	color:#00E600;
	font-style: normal;
}

#price
{
	font-size: 32px;
	font-weight: bold;
	color: #EBECF0;
}

.titre
{
	color: #EBECF0;
	font-weight: bold;
}

.button
{
	background:#bfdf32;
	display:block;
	width: 250px;
	height: 35px;
	color: #fff;
	margin: auto;
	line-height: 35px;
	text-align: center;
	border-radius: 5px;
	box-shadow: 0px 10px 23px 9px rgba(0,0,0,0.18);
}

@media screen and (max-device-width: 375px)
{

body
{
	flex-direction: column;
	align-items: center;
}

#main
{
	display: flex;
	flex-direction:column;
	flex-wrap: wrap;
	justify-content:center;
	text-align: center;
	align-items: center;
	width:550px;
	height:250px;
	margin-left: 20px;
	margin-right: 20px;
}

#Sub
{
	display: flex;
	flex-direction:column;
	flex-wrap: wrap;
	justify-content:center;
	text-align: center;
	align-items: center;
	width:550px;
	height:250px;
	margin-left: 20px;
	margin-right: 20px;
}

#Why
{
	display: flex;
	flex-direction:column;
	flex-wrap: wrap;
	justify-content:center;
	text-align: center;
	align-items: center;
	width:550px;
	height:250px;
	margin-left: 20px;
	margin-right: 20px;
}
}
